* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url(img/fundo.avif);
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    perspective: 1000px;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.is-flipped .card-inner {
    transform: rotateY(-180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(to bottom right, rgb(0, 80, 47), rgb(5, 202, 120));
}

.card-back {
    background: linear-gradient(to bottom right, rgb(0, 80, 47), rgba(244, 252, 247, 0.8));
    color: #fff;
    transform: rotateY(180deg);
}

.card h2 {
    font-size: 70px;
    margin: 0;
    padding: 20px;
    text-align: center;
}


img {
    width:90%;
}

video{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
    background-color: rgb(0, 80, 47);
    height: 1.5cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.logo {
    color: rgb(228, 237, 245);
    font-size: 35px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(228, 237, 245);
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}



p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    font-size: 35px;
    list-style: none;
    display: inline-block;
}

span{
    color: rgb(228, 237, 245);
}